{{> head}}

<body>


{{> in-navbar }}



<!-- CONTENUTI -->
<!-- ANTEPRIMA DEL PROFILO -->
<section id="profile" style="background: #F6F6F6;">
    <br>
    <br>
    <div class="container" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-auto">
                        <img alt="ImmagineProfilo" src="{{user.photo}}" class="rounded-circle"
                             style="width: 170px; box-shadow: 0 0 20px 7px rgba(0,0,0,0.1)">
                    </div>
                    <div class="col">
                        <h2>{{user.name}} {{user.surname}}</h2>
                        <p style="color: #0066CC; font-weight: bold">24 recensioni</p>
                        <p>Email utente: {{user.email}}</p>
                        <p>Identificativo utente: {{user.id}}</p>
                        <p style="color: #cc7722"></p><i class="fa fa-solid fa-star"></i><i
                            class="fa fa-solid fa-star"></i><i
                            class="fa fa-solid fa-star"></i><i class="fas fa-star-half-alt"></i><i
                            class="far fa-star"></i></p>
                        <font size="3">Biografia profilo</font>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
<section id="recensioni">
    {{> Snippet-Profile-Review }}

    {{> Snippet-Profile-Review }}
</section>
<br>
<br>


<!-- PLACEHOLDER DEL FOOTER -->
{{> footer}}
</body>

</html>